<span class='bi bi-trash'></span>
<a href="/add-new"><i class="fa-solid fa-plus">Add New</a>
<div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Date of birth</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each students}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
        <td>{{this.address}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        <td>{{this.dob}}</td>
        <td>
          <a href="/update/{{this._id}}/edit" aria-hidden="true">Edit</a>
          <a href="/delete/{{this._id}}" aria-hidden="true">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>